:root{
    --main-color: #40e3c8;
    --secondary-color: #5185ec;
    --font-size-large: 50px;
    --border-color: rgb(137, 137, 137);
    --text-shadow: rgb(243, 116, 255);
    --box-shadow: #ff8e8e;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: var(--main-color);
    background-color: antiquewhite;
    font-size: var(--font-size-large);
}

.box{
    width: 75%;
    padding: 30px;
    margin: 15px auto;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    background-color: var(--main-color);
    color: #f4f4f4;
    text-align: center;
    text-shadow: 5px 5px 5px var(--text-shadow);
    box-shadow: 10px -5px 30px 1px var(--box-shadow);
    font-size: larger;
}

.box2{
    width: 75%;
    padding: 35px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 50px;
    background-color: var(--main-color);
    color: #f4f4f4;
    font-size: 30px;
    box-shadow: 10px -5px 30px 1px #ff8e8e;
}

.navbar-expand-lg{
   background-color:  rgb(194, 130, 255);
   width: 100%;
   padding: 0;
   margin: 0;
   border-radius: 25px;
}

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    width: 85%;
}

.navbar-brand{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 5px 5px 5px rgb(252, 222, 52);
    padding: 20px;
    margin: 20px auto;
}

.nav-link{
    font-size: 30px;
    text-decoration: underline;
    color: #000000;
    background-color: rgb(247, 87, 225);
    border: 10px double rgb(255, 255, 255);
    border-radius: 30px;
    padding: 5px;
    margin: 5px auto;
    width: 350px;
    text-align: center;
}

.nav-link:hover{
    color: #4800ff;
    background-color: rgb(255, 246, 147);
}

.footer{
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 10px auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 18%;
}

.box3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: larger;
    text-shadow: 5px 5px 5px rgb(111, 242, 222);
}

.contact{
    width: 50%;
    padding: 30px;
    margin: 15px auto;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    background-color: var(--main-color);
    color: #f4f4f4;
    text-align: center;
    text-shadow: 5px 5px 5px var(--text-shadow);
    box-shadow: 10px -5px 30px 1px var(--box-shadow);
    font-size: 0.8em; 
}

#contact-form{
    width: 50%;
    padding: 30px;
    margin:  auto;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    background-color: var(--main-color);
    color: #f6fe00;
    text-align: left;
    text-shadow: 5px 5px 5px rgb(255, 157, 222);
    box-shadow: 10px -5px 30px 1px var(--box-shadow);
    font-size: 0.8em;
}

.button{
  display: flex;
  justify-content: center;
  gap: 15px;
}

#save-btn{
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#save-btn:hover{
  color: black;
  background-color: rgb(158, 158, 158);
}
#clear-btn{
  padding: 10px;
  background-color: #fb127e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#clear-btn:hover{
  color: black;
  background-color: rgb(158, 158, 158);
}

.error{
    color: red;
    font-size: 0.7em;
}
.success{
    color: green;
    text-shadow: 5px 5px 5px rgb(71, 71, 71);
    font-size: 1.0em;
    text-align: center;
}

input[type="text"], input[type="email"], input[class="form-select"], input[type="textBox"]{
    width: 80%;
    padding: 5px;
    margin: 0 auto; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.65em;
}

.gallery{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.project{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    width: 35%;
    box-shadow: 5px 5px 5px 5px rgba(213, 64, 64, 0.1);
    font-size: 0.8em;
    text-align: center;
    color: var(--secondary-color);
}

.details{
    margin: auto;
    display: none; 
}

.details.show{
    display: block; 
    font-size: 0.5em;
}

button{
    background-color: #17bf71;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #949494;
    color: #000000;
}
.image{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: larger;
    text-shadow: 5px 5px 5px rgb(111, 242, 222);
}

@media (max-width:600px){
    .box{
        font-size: 20px;
        width: 80%;
        padding: 10px;
    }
    .box2{
        font-size: 20px;
        width: 80%;
        padding: 20px;
    }
    .box3{
        font-size: 40px;
        padding-top: 10px;
    }
    .navbar-nav{
        padding: 0;
        margin: 0 auto;
        gap: 25px;
    }
    .navbar-toggler-icon{
        background-color: #fcdb86;
        border: 1px solid black;
        border-radius: 5px;
    }
    .navbar-collapse{
        display: flex!important;
    }
    .navbar-brand{
        font-size: 20px;
        margin: 0 auto;
        padding: 0;
    }
    .navbar-expand-lg{
        padding:0 auto;
        margin:0 auto;
    }
    .nav-link{
        padding:0;
        margin:0 auto; 
        font-size: 20px;  
    }
    .footer{
        font-size: 10px;
        text-align: center;
        width: 50%;
        position: fixed;
        bottom: 0;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }
    .project{
        font-size: 0.45em;
        width: 90%;
    }
    .contact{
        font-size: 0.45em;
        text-decoration: nowrap;
        margin: 10 auto;
        padding: 10px;
        margin-bottom: 20px;
        width: 80%;
    }
    #contact-form{
        font-size: 0.5em;
        width: 80%;
    }
    input[type="text"], input[type="email"], input[class="form-select"], input[type="textBox"]{
        width: 75%;
        padding: 5px;
        margin: 0 auto; 
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 0.65em;
    }
    .success{
        font-size: 0.5em;
    }
    .image{
        font-size: 0.4em;
        text-align: center;
    }
    .image img{
        width: 80%;
    }
}